@{
    ViewData["Title"] = "Home Page";
}

x = @ViewBag.Item2
<hr />

<div class="text-center">
    <h1 class="display-4">xx lll  oooo    pppppppppppppppp sxxx  ggg o1 var= Class1.Var1</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div>
