<?xml version="1.0" encoding="utf-8"?>
<!--
abc2
-->
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\NetApps.WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />		
		</system.webServer>
	</location>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"></modules>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	
</configuration>
<!--ProjectGuid: 69E465F0-3FF7-4F6E-AD66-6D9D7558D346-->